* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    height: 53px;
    background: #313131;
}

.label {
    background: #000000;
    width: 115px;
    height: 27px;
    line-height: 28px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

h2.title {
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin-top: 42px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted #ffffff;
    padding-right: 45px;
}

.subheader {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 84px;
    
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px;
}

.subheader .subheader_official {
    opacity: 0.5;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    margin-top: 6px;
}

.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    margin-top: 19px;
    color: #FFFFFF;
}

.subheader .subheader_phone {
    display: block;
    font-weight: 400;
    font-size: 22px;
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 8px;
    line-height: 12px;
}

.subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.promo {
    min-height: 800px;
    background: url('../img/uber_bg.png') center center/cover no-repeat; 
    padding: 150px 0 135px 0;
}

.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    line-height: 60px;
}

.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-top: 22px;
    line-height: 36px;
    
}

.promo .promo_descr {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 23px;
    line-height: 24px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;

    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.advantages {
    padding: 20px 0 60px 0;
}

.advantages_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

}

.advantages .advantages_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 113px;
    background: #1EACC7;
    border-radius: 100%;
    margin-right: 26px;
}


.advantages_descr {
    width: 343px;
}

.advantages .advantages_block .advantages_descr .advantages_subtitle {
    color: #1EACC7;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    text-align: left;
}

.advantages .advantages_block .advantages_descr .advantages_text {
    color: #202020;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: left;
}
